body {
  font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}

a:visited {
  color: #0000ee;
}

.imgLink {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

#result {
  white-space: pre-wrap;
}

#sqlQueryPayment, #sqlGenericQuery, #sqlQueryInvoice{
  width: 500px;
  height: 40px;
}

#genericQueryBox, #paymentQuery , #invoiceQuery{
  border: 3px solid rgba(0, 0, 0, 0.2); /* Light black outline */
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(169, 169, 169, 0.2);
  display: flex; 
 
  align-items: center;
  gap: 10px; 
  height: 50px; /* Optional: set a height for the container */
}

#genericQueryBox {
  border: 3px solid rgba(0, 0, 0, 0.2); /* Light black outline */
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(213, 203, 145, 0.8);
  display: flex; 
 
  align-items: center;
  gap: 10px; 
  height: 50px; /* Optional: set a height for the container */
}
#transferUploadSubmit, #expenseUploadSubmit, #depositUploadSubmit {
  border: 2px solid #000; /* Adjust the color and thickness of the border */
  padding: 10px; /* Optional: Add padding for better spacing */
  border-radius: 5px; /* Optional: Add rounded corners */
}
